body {
	background-color: #FEEDA1;
	padding: 2rem;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
}

.dashboard-username {
	text-align: center;
	font-size: 4rem;
}
.dash-input {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rebeccapurple;
}
.dash{
	/* border: .3rem solid green; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3rem;
}
.dash-pic {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.image {
	width: 40rem;
	height: auto;
	border-radius: 1rem;
	margin-right: auto;
	margin-left: auto;
}
.character{
	color: black;
	margin: 1rem 0;
	font-size: 4rem;
  letter-spacing: 2rem;
	text-align: center;
}

#input-Answer{
	/* width: 100%; */
	font-size: 4rem;
	height: 3rem;
}
.results {
	font-size: 2rem;
	text-align: center;
}

.btn {
	background-color: #fff;
	color: brown;
	border-radius: 1rem;
	padding: .5rem;
	width: 100%;
	font-size: 2rem;
	text-transform: uppercase;
}
.btn:hover,
.btn:active {
	background-color: brown;
	color: #fff
}
