.dashboard {
	background-color: #FEEDA1;
	padding: 2rem;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.dashboard-username {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}
.dash-input {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.dash,
.dash-answer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: center; */
	/* align-content: space-between; */
}
.dash-pic {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.image {
	width: 40rem;
	height: auto;
	border-radius: 1rem;
	margin-right: auto;
	margin-left: auto;
}
.character{
	color:#777;
	margin: 1rem 0;
	font-size: 4rem;
  letter-spacing: 3rem;
	text-align: center;
}
.label {
	font-size: 1.5rem;
	padding-left: 1rem;
	color: #777;
}
.input-Answer,
input[type=text] {
	font-size: 3rem;
	border-radius: 1rem;
	background-color: #fff;
	border-radius: 1rem;
	margin-bottom: 2rem;
}
.results {
	font-size: 2rem;
	text-align: center;
}
.btn-dash {
	max-width: 20rem;
	padding: 1.5rem 1rem;
	border-radius: 1rem;
	background-color: #fff;
	color: brown;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
	font-size: 2rem;
	text-transform: uppercase;
}
.btn-dash:hover,
.btn-dash:active {
	background-color: brown;
	color: #fff
}
.loadPage {
	background-color: #FEDD15;
	/* display: block;
	margin-left:  auto;
	margin-right: auto; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}