.header-bar {
	background-color: #333333;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
}
h1 {
	font-size: 4rem;
	color: #F5B43D;
	text-align: center;
	text-transform: uppercase;
	padding: 1rem;
}
.link {
	text-decoration: none;
}
.link-profile {
	height: 25px;
	padding: .5rem;
	color: #F5B43D;
	background-color: #ddd;
	border-radius: 1rem;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
	margin-top:25px;
}
.btn-out {
	font-family: "Lato", sans-serif;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 20rem;
	padding: 1.5rem 1rem;
	border-radius: 1rem;
	background-color: #ddd;
	color: brown;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
	font-size: 1.5rem;
	text-transform: uppercase;
	height: 4rem;
	line-height: 1rem;
}
.btn-out:hover,
.btn-out:active {
	background-color: brown;
	color: #fff;
	border: transparent;
}

.progress-link {
	color: brown;
}

.childNav {
	margin-right: 2em;
	margin-left: 2em;
}

ul {
  padding: 0;
  list-style: none;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (max-width: 630px) {
  .flex-container {
    flex-direction: column;
	}
	.childNav {
		margin: 0;
	}
	.link-profile{
		width: 120px;
	}
	.centered {
		margin-left: auto;
		margin-right: auto;
	}
}