.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #fff;
	 background-image: linear-gradient(to right, rgba(245, 180, 61, 0.2), rgba(245, 180, 61, 0.6));
}

#corner-pic {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.gudetama {
	width: 35%;
	height: 35%;
}

@media only screen and (max-width: 600px) {
	.gudetama {
		width: 70%;
		height: 70%;
	}
}

html,body{
	margin:0;
	height: 100vh;
	width: 100vw;
}

.intro {
	text-align: justify;
	margin: 1.5rem 3rem;
	border: .1rem solid #000;
	font-size: 2rem;
	line-height: 2rem;
	padding: 3rem;
	background-color: rgba(250, 250, 250, 0.6);
	color: #F5B43D;
	color: #000;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
}

.landing-page-parent{
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width: 430px) {
	.landing-page-parent{
		height: 1000px;
	}
}
.btn-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.btn-land {
	margin: 4rem 0;
	max-width: 20rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #fff;
	color: brown;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
}
.btn-landL {
	padding: 1rem 2.4rem;
}
.btn-land:hover,
.btn-land:active {
	background-color: brown;
	color: #fff;
	border: transparent;
}

