
.login-form {
display: flex;
flex-direction: column;
flex-wrap: wrap;
/* justify-content: center; */
align-items: center;
}
.label-login {
	font-size: 2rem;
	color: #000000;
}
input[type=text],
input[type=password] {
	font-size: 2.5rem;
	margin: 2rem;
	border-radius: 1rem;
	width: 100%;
}
.btn-in {
	width: 100%;
	background-color: #fff;
	color: brown;
	border-radius: 1rem;
	font-size: 1.5rem;
	padding: 1rem;
	line-height: 1rem;
	text-transform: uppercase;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
	margin: 2rem;
}
.btn-in:hover,
.btn-in:active {
	background-color: brown;
	color: #fff
}

