.home-login {
	background-image: linear-gradient(to right, rgba(119, 119, 119, 0.2), rgba(119, 119, 119, 0.6)), url("/img/gudetama_wallpaper.jpeg");
/* background-image: url("/img/gudetama_wallpaper.jpeg"); */
background-repeat: round ;
background-size: auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
height: 60rem;
padding: 1rem;
opacity: .5;
}
.home-login h2 {
	font-size: 3rem;
	color: #000;
	text-align: center;
}
.reg_link {

font-size: 2rem;
color: #000;
align-self: center;
}