.profile {
	font-size: 2rem;
color: #001;
	padding: 0 .5rem;
	background-image: linear-gradient(to right, rgba(245, 245, 245, 0.4), rgba(245, 245, 245, 0.6));
	display: block;
	position: relative;
	height: 100vh;
}
.profile-padding {
	padding: 2.5em;
}
.profile::after {
  content: "";
	background: url("/img/Mt_Fuji.jpg");
	background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
.top-progress {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}
.chart {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
th, td {
	font-size: 1.5rem;
}
.results {
	font-size: 2rem;
	text-align: center;
}
.question-chart {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}
.btn-link {
	text-decoration: none;
	color: brown;
	margin: 1.3rem;
}
.btn-link:hover,
.btn-link:active {
	background-color: brown;
	color: #fff
}
.btn-profile {
	max-width: 20rem;
	padding: 1.5rem 1rem;
	border-radius: 1rem;
	background-color: #fff;
	color: brown;
	box-shadow: 0 .4rem .6rem 0 hsla(0, 0%, 0%, 0.2);
	font-size: 1.6rem;
	text-transform: uppercase;
}
.btn-profile:hover,
.btn-profile:active {
	background-color: brown;
	color: #fff
}
.btn-bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem 0;
}
.loadPage {
	background-color: #FEDD15;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (max-width: 430px) {
	.profile{
		height: 1000px;
	}
}