.home-reg {
	background-image: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("/img/gudetama_wallpaper.jpeg");
	background-repeat: round ;
	background-size: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1rem;
	height: 100vh;
	padding-top: 40px;
}
.home-reg-title {
	font-size: 3rem;
	color: #000;
	text-align: center;
}
#bottom {
font-size: 2rem;
color: #000;
align-self: center;
}

.login-reg {
	margin-left: auto;
	margin-right: auto;
}