*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
/* root font size declared below to allow use of rem's  62.5% = 10px*/
html{
    font-size: 62.5%;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    /* gives a white border around the entire page */
    /* padding:1rem; */
    box-sizing: border-box;

}